@charset "utf-8";

/**************************************************
共通箇所
**************************************************/

/*
font-size決め方
https://qiita.com/AsagiriDesign/items/af182de0e1c6245d102d
https://www.plusdesign.co.jp/blog/?p=5152
基本は、bodyに対し、font-size:62.5%で指定。すると以下、1rem=10px 1.6rem=16pxのように計算がしやすくなる
*/
body {
    font-size: 62.5%;
}

/**************************************************
header
**************************************************/
.uk-navbar-container:not(.uk-navbar-transparent) {
    background: none;
}
/* ナビゲーションメニューとタイトル位置を合わせるため、.uk-navbar-nav>li>aのCSSクラスを一部複写 */
.site_title {
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 80px;
}

/**************************************************
main
**************************************************/

/**************************************************
sidebar
**************************************************/

/**************************************************
footer
**************************************************/

/**************************************************
index.php
**************************************************/

/**************************************************
single.php
**************************************************/

/**************************************************
archive.php
**************************************************/
